<header class="institution-header">
  <a class="university" href="./#home">
    <span class="logo-box">
      <img
        alt="Logotipo de la Universidad Nacional de Juliaca"
        height="101"
        src="/static/img/logo-unaj.svg"
        width="382"
      />
    </span>
    <span class="university-name">
      UNIVERSIDAD NACIONAL DE JULIACA
      <small> Escuela Profesional de Ingeniería de Software y Sistemas </small>
    </span>
  </a>
  <div class="course-mark">
    <span> APLICATIVO ACADÉMICO </span>
    <strong> ESTADÍSTICA INFERENCIAL </strong>
  </div>
</header>
